sudo: required
dist: trusty
language: node_js
node_js:
- stable
branches:
  except:
  - gh-pages
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_script:
- npm install web-component-tester
- npm install bower
- export PATH=$PWD/node_modules/.bin:$PATH
- bower install
script:
- xvfb-run wct --skip-plugin sauce
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then wct --plugin sauce --skip-plugin
  local; fi
after_success:
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then openssl aes-256-cbc -k "$DEPLOYSECRET"
  -in deploy.enc -out deploy_key -d; fi
- cd $TRAVIS_BUILD_DIR/scripts
- chmod 755 ghp.sh
- "./ghp.sh"
env:
  global:
  - secure: ZommiDhwGyzSRbJq38uHaRvxBhk8SQy4pfszlLbK9VK64Kk8E7zSsgITiL/bkVUgescK0M72PIDdTBA+gzTkmTDAU3ka/7jXzRafsWdNsyCHG1+NO9i5lJX1Y342X/RGMHwjULRlNXQ0pw15j5p3t1O2EsMs1ZoSv2Y65FRwqB9pbIbX+ahZwOe0QXGfKo/YoYBALdfXYqzMEzJRjuwqQeZqFv+ZcayTVKiktE/8ti/2TbHJdOOErlkcZWG451ZPKNqm7MyQCVcwvIXQ3q/PADyc/nXumhqDgPPucQFCOH53KopRqSTZN6ThTE0iEPnnxeHTNoQnTTVdrz44TFCi7zcZEN210CAAG+QIQBNJIabR60W4tL1YFVJ0w66gZ/1wBspmrrIxbmfCxYE5cVenNpQbBr462BS89ROQcFWi7CghEW3xRvKbgZ0vLjCH3m8njCfazX+19aPibu2O2SadzkJPoc6j/GlKC4vUMxilGg1WERKq93aMWXe6hejbwegFHW1xB7HGggbR+MU+2UYpLq3fj1QjC740Z51lQ+zRCeZEZvw94rwLWXdnR3aHu8yZTlaDZl7jBJ0zeHboQliKx0SgNIXUDridAZhxOnzQ4kYWbFFuspZtsmnbKXOZkcM+lMP9t0NLX9fHSHr+mnrht88lL5XdFrxZDq62EYd/Y3E=
  - secure: pYIrb3gfkOjD0q7eRLP29aMAC9s4eYKdQRXgz1yc/FWX44lOXFNnjugc9MKCPqi9uoz2QBDm9yLHZbhOccRLsN/Hu1WCGep4LPwGW9a/Fpv7TXmdWmZDf+/u4jq8hB3sUe0emslztemGCrZYc+XiPQREIeFYx4EaN6IdklzNrB3pT8LLqdvvd99YmxXLGYwx3CGayeh+HI/68U2AY709WXHUqQkdQ5mm5RtRfg0eA2gVp/6gYpxs5qsAymhvYB5fTUP0aSH2+VLrVE1R0E6+aaphf884k4NeDwlc6/6E/2+HgHcAWmhPd8dNPh9QkxsjCAOCgOskLWoF2WwSw6Tel2KWUvWpA2tt+wrGA8dRduyXk5VVe4w+TAR36vAgjMPEUy1r5AZoQGzemkVpNXOM/C9BH5fuWy5GOQfVD3YZpk6d1SgBVf2PEvi8Eioy+IvJeLVINgWIDIk30fYjllNEDXav09DgCTp0h1uEXbcGo8dr4YdCVGOdYUQbJaU2FTqNXeKUtXJAnpmX+O25Dti/8x3RyJdrOhIpT+ww08igRsK5Xar0wAJid43Ji8R/mfwe8uweGxegbihAwekK6pqoaBGWG0O8KzbvJJxSiFBqzpWflC2FVBs46zuNoXkptU+GZgi1MGdvhsVvr36iZ7/juwUzi8/SMNKUtB0ptI1hIGc=
  - secure: RLK7NvDy21kCLsaf3qJRFmfWxBV9lp9M1EVtmaYpBDHiP6pfG5Y1Q/gHpYxVfQfdcFSbEiyzUNxeyNBJkSbnLYqENSCQX2bgT7C6sIwu+CV7chpLFRCDQQi3ysFaP83YGGuPfkuZy9VP9C4Gx6OLAv7shJsXAZnMDP01WxUo7GH8GPV69ri8RDChLH9iBMeAtSddN5WkFLMYIi/lEcEQqc3pCZ7TbJmrQrY2axoG2pqq0qMs+8gAiNw5LCMh6Qs/2UUglh+Id3kqzh7gFw9mAmfvkQqyyAE3hXbnUMLnKCFjcOUkDRtrczt1JzZ2E1Tg8j/iYW0HC7iLoYtEoTKLyvE6uc4QOGY9G6ACvo2yAULvvPz5cA9Qbpb95V+e26X2a8TxUbpGf+vxHH8qh2w8lutuihIDALoPHYMcpGJgP+cLa3tES+btoyAzZ6XhtfQrinCUtMJcguTFia9NprVSSzmrc9WkYi2+7aB9uy+oEiNs3VXUql5i9usn47MvdT0FKdPWNefrpl+vghBPFkSO0eQQxWXvPGVnc6cctNr/IppVhzlA/sFyEH8JbBdmhxiWJE/Iji49irQhCTQTdkA7eNv/A2h57gKatoZrca7D+rrVQr0sxxxPABRbrtymn3j8ch1dd9PHx/6muSjvcEZXXSO6e4nryXYVp5A6lkYrXKk=
  - secure: tbmYi+lGHiwo/69fMTjAEdrmJaXjig+ovC3OsIRlivtUtewP1Y5nHR4wvSHZmsgRNWjsCQ/xar8sZRWqqm4Y4k28ADAet92LXmigWW7QK490Jyt+odJ3RZVRBLCiJ9mps7LcrhoRMEOtjgUFpbOKO/eGSX9t/lQ8n5rRsIuEzWOM14zZKmSVxpMjA1usEOqU+sw+0o2LcB2EfGslCk3Mfn9O0iI+qpvtPgNxNB5y1DmDqJQ0H0B3ntzmYRGeo0Y5X9crn24R9yfTulugyI9WD6UEwLir+JmrzZOvAeqqD/Ve9W/FxzhVaXrKzZG6Tca807qAXS7tL1SYpdecjpb4QEjSDc/CXpaSB20DWA5Wjpmq2mZGuDugNIHX6nZ6MXxwXRMEpFyRS6Cm6g0F2oKMUJwV2O77dmIMDJvmCYP0kMDnhKXVxCJrKBk/Oe0okX6RXCgDHybVXr9gvMoCYQxejT0O/ojVR++ysQmF6U2geZLwxlPrShrIPOqKwmXQBg3uwgyO6E8fSCbKrMfDOvxyexeEfjf501XQiKbU0i9b52NdFC3KWpmX4tdlPZvJ/lA6YlNqp5NK1R8ATnaWB57mk5n6+EIa5G9pz6jwLn0JWGDyU0f5JI6cdfw3N6EUACKx7w6mbJzoOVaQlWMOumGk7R2Yygx8cl5kcJc8IfK3pEo=
